
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1> <% @random_letters.each do |letter|   %>
  <div class="letters">
  <div class="letter"><%=  letter %> </div>
  </div>
  <% end %>
 </h1>
</body>
</html>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :random_letters, @random_letters %>

  what is the longest word you can find?
  <br>
  <input type="text" name="word" placeholder="Word">
  <input type="submit">
</form>

